/* HEADER */

.header{

}

/* NAVBAR */
.navbar {
    background-color: #2c3e;
    .navbar__icon-menu{
        height: 10px;
        width: 10px;
        background-color: black;
    }
    .navbar__button{
        color:red;
    }
}